/* Основные стили */


@font-face {
    font-family: "Montserrat";  
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
     

/* Основные стили для body и wrapper */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Растягиваем body на всю высоту экрана */
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

/* Хедер */
header {
    background-color: #B90039;
    padding: 10px 0;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}



.header-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.logo_header {
    height: 50px;
    filter: brightness(0) invert(1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f0f0f0;
}



.logout-btn {
    font-family: "Montserrat";
    background-color: #fff;
    color: #B90039;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #f0f0f0;
}

/* Основной контент */
main {
    width: 90%;
    margin: 20px auto;
}

.wrapper {
    flex: 1; /* Растягиваем wrapper на всю доступную высоту */
    display: flex;
    flex-direction: column;
}

h1 {
    color: #000; /* Черный цвет для тайтла */
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}

/* Фильтры */
.filters {
    display: flex;
    flex-wrap: initial;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.filters input, .filters select {
    font-family: "Montserrat";
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    font-size: 14px;
}

/* Таблица */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    /* border: 1px solid #070707; */
    border-radius: 8px;
    /* overflow: hidden; */
    /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1); */
}

.hidden_tab {
    visibility: hidden;
    border: none;
}

table th.left {
    border-top-left-radius: 8px;
}
table th.right {
    border-top-right-radius: 8px;
    
}

table th, table td {
    /* padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px; */
    padding: 12px;
    text-align: center;
    font-size: 14px;
}

table th {
    background-color: #5c5c5c;
    color: #fff;
    font-weight: 500;
}

table th.was-header, table th.was  {
    background-color: #B90039; 
    /* border: none; */
}

table th.became-header, table th.became {
    background-color: #44a044; 
    /* border: none; */
}








table td.was {
    background-color: #ffcccc; /* Светло-красный для БЫЛО */
}


table td.became {
    background-color: #ccffcc; /* Светло-зеленый для СТАЛО */
}

table td.edit {
    background-color: #ffffff; 
}

table tr {
    background-color: #fafafa;
    
}
table tr:nth-child(even) {
    background-color: #ededed;
    
}
/* Затемнение через строку для .was и .became */
table tr:nth-child(even) td.was {
    background-color: #ffb3b3; /* Более темный оттенок для четных строк */
}

table tr:nth-child(even) td.became {
    background-color: #b3ffb3; /* Более темный оттенок для четных строк */
}

/* Затемнение при наведении на строку */
table tr:hover td.was {
    transition: 0.3s;
    background-color: #ff9999; /* Затемнение при наведении для .was */
}

table tr:hover td.became {
    transition: 0.3s;
    background-color: #99ff99; /* Затемнение при наведении для .became */
}

/* Затемнение при наведении на строку для всех ячеек */
table tr:hover td {
    transition: 0.3s;
    background-color: #d5d5d5; /* Затемнение при наведении для всех ячеек */
}

/* table tr:hover{
    background-color: #d5d5d5;
} */

/* Кнопка редактирования */
.edit-btn {
    background: none;
    border: none;
    color: #B90039;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}

.edit-btn:hover {
    color: #A00030;
}

.no_bg{
    background-color: none;
}

/* Футер */
footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Прижимаем футер к низу */
}
.footer-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-block p {
    margin: 5px 0;
    font-size: 14px;
}

.info-block a {
    color: #B90039;
    text-decoration: none;
    transition: color 0.3s ease;
}

.info-block a:hover {
    text-decoration: underline;
}

/* Основные стили для формы */
/* Основные стили для формы */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.form-title{
    margin-top: 50px;
}

.form-group, .form-group-cb {
    margin-bottom: 20px; /* Увеличил отступ между группами */
    display: block;
    align-items: center;
}
.form-group-cb label {
    display: block;
    margin-bottom: 8px; /* Увеличил отступ между label и input */
    font-weight: 500;
    color: #333;
}

.form-group label {
    display: block;
    margin-bottom: 8px; /* Увеличил отступ между label и input */
    font-weight: 500;
    color: #333;
}

.form-group input, .form-group select {
    
    padding: 12px; /* Увеличил паддинг для удобства ввода */
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
}


.form-group input:focus, .form-group select:focus {
    border-color: #B90039;
    outline: none;
}

.submit-btn {
    background-color: #B90039;
    color: #fff;
    border: none;
    padding: 12px 20px; /* Увеличил паддинг для кнопки */
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px; /* Отступ сверху для кнопки */
}

.submit-btn:hover {
    background-color: #A00030;
}


/* Стили для выпадающего списка с чекбоксами */
.dropdown-checkbox {
    
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    font-family: "Montserrat";
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 200px;
    text-align: left;
}

.dropdown-toggle::after {
    content: "▼";
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-content label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 8px;
}

.dropdown-checkbox:hover .dropdown-content {
    display: block;
}